@charset "UTF-8";

*, *::before, *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
    }

html {
    font-size: 100%;
}

/*header*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 150px;
}
ul a:hover {
    color: #0bd;
}
ul li {
    display: block;
    padding: 5px 15px;
}
.imglogo {
    width: 30%;
    height: auto;
    padding-left: 150px;
}

/*index_body*/
.index_div_0, .index_div_1 {
    background-image: url(../img/main-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding: 0;
    width: 100%;
}
.index_div_1, .button_0 {
    text-align: center;
    width: 100%;
}
h2 {
    font-size: 3.5em;
    color: #3f312b;
}
p {
    padding: 25px;
    color: #3f312b;
}

.button_0 {
    font-size: 20px;
    cursor: pointer;
    background-color: #13afe4;
    color: #ffffff;
    border-radius: 5px;
}
.button_0:hover {
    background-color: #1099c7;
}

/*news_body*/
.news_div_0, .news_h2 {
    background-image: url(../img/news-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding: 0;
    width: 100%;
}
/*news_bodyは再度調整*/

.main_colomns, .side_colomns {
    padding: 2%;
    border-radius: 10px
}
@media ( min-width : 600px ) {
    .all_colomns {
        display: -webkit-flex;
        display: flex;
    }
    .main {
        margin: 0 10px 0 0;
    }
}

/*menu_body*/
.menu_div .menu_h2, .menu_p {
    background: #736d71 url(../img/menu-bg.jpg); /*urlの前に色指定する*/
    background-position: center center;
    background-repeat: no-repeat;
    background-blend-mode: lighten;
    background-size: cover;
    height: 100vh;
    padding: 0;
    width: 100%;
}
.picture_container {
    display: grid;
    grid-template-areas:
        "a a b"
        "a a c"
        "d e f"
        "g h i";
    gap: 50px;
    grid-template-columns: 400px 200px 200px 200px;
    grid-template-rows: 400px 200px 200px 200px;
}
.picture_a {
    grid-area: a;
}
.picture_b {
    grid-area: b;
}
.picture_c {
    grid-area: c;
}
.picture_d {
    grid-area: d;
}
.picture_e {
    grid-area: e;
}
.picture_f {
    grid-area: f;
}
.picture_g {
    grid-area: g;
}
.picture_h {
    grid-area: h;
}
.picture_i {
    grid-area: i;
}
/*menu_bodyはしばらく調整*/

/*contact_body*/
.map {
    position: relative;
    width: 100%;
    padding-left: 75%; /* = height(高さ) ÷ width(横) × 100 */
}
.map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/*google map消失。原因を探る。*/

/*footer*/