@charset "UTF-8";

*, *::before, *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
    }

html {
    font-size: 100%;
}

/*header*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10em;
}
ul a:hover {
    color: #0bd;
}
ul li {
    display: block;
    padding: 5px 15px;
    color: #3f312b;
}
.imglogo {
    width: 60%;
    height: 30%;
    padding-left: 100px;
}
@media screen and (max-width: 414px) {
    .imglogo {
    height: 200px;
    }
    .imglogo {
    width: 400px;
    height: 100%;
    }
}
@media screen and (min-width: 415px) {
    .imglogo{
    height: 100%;
    }
    .imglogo{
    width: 100hv;
    height: 100%;
    }
}
/*unity*/
h2 {
    text-align: center;
    font-size: 4em;
    color: #3f312b;
    font-family: 'Philosopher', sans-serif;
    margin-top: 150px;
}
p {
    color: #3f312b;
}

/*footer*/
footer p {
    background-color: #3f312b;
    color: #ffffff;
    text-align: center;
    height: 100hv;
}