@charset "UTF-8";

/*header*/
/*smart phone*/
    .imglogo {
        width: 100%;
        height: 100%;
        text-align: center;
    }
    ul {
        list-style-type: none;
        margin: 0;
        margin-right: 16vw;
        justify-self: center;
    }
    ul a:hover {
        color: #0bd;
    }
    li {
        padding: 10px;
        color: #3f312b;
        display: inline-block;
    }
/*PC*/
@media (min-width: 415px) {
    .imglogo {
        margin-left: 300px;
        width: 300px;
        height: 80px;
        cursor: pointer;
    }
    ul {
        list-style-type: none;
        width: 350px;
        margin-left: auto;
        padding-top: 5px;
    }
    ul a:hover {
        color: #0bd;
    }
    li {
        display: inline-block;
        padding: 5px 15px;
        color: #3f312b;
    }
}

/*unity*/
h2 {
    text-align: center;
    color: #3f312b;
    font-family: 'Philosopher', sans-serif;
    font-size: 4rem;
}
h3 {
    color: #3f312b;
}
p {
    color: #3f312b;
}

/*footer*/
footer p {
    background-color: #3f312b;
    color: #ffffff;
    text-align: center;
    width: 100%;
}
/*index_main*/
.div_index {
    background-image: url(../img/main-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    margin: 0 auto;
}
/*smart phone*/
    .div_index {
        width: 100%;
        height: 100vh;
    }
    .index_h2 {
        top: 8.995502248875562vh;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        padding: 2.6666666666666665vh;
        margin-top: 17.991004497751124vh;
        text-align: center;
    }
    .index_p {
        top: 35.98200899550225vh;
        right: 0;
        bottom: 0;
        left: 0;
        text-align: center;
        padding: 4vw;
    }
    .button_0 {
        display: block;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        font-size: 1.2rem;
        cursor: pointer;
        background-color: #13afe4;
        color: #ffffff;
        border-radius: 5px;
        margin-bottom: 14.992503748125937vh;
    }
    .button_0:hover {
        background-color: #1099c7;
    }
/*PC*/
@media (min-width: 415px) {
    .div_index {
        width: 100%;
        height: 100vh;
    }
    .index_h2 {
        padding: 20px;
        margin-top: 55px;
        text-align: center;
        font-size: 5rem;
    }
    .index_p {
        padding: 25px;
        text-align: center;
    }
    .button_0 {
        font-size: 20px;
        cursor: pointer;
        background-color: #13afe4;
        color: #ffffff;
        border-radius: 5px;
    }
    .button_0:hover {
        background-color: #1099c7;
    }
}

/*news_body*/
.div_news {
    background-image: url(../img/news-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
    padding: 0;
    width: 100vw;
}
/*2カラム書き直し*/

@media ( min-width : 415px ) {
    .news_h2 {
        margin-top: 60px;
    }
    .news_img {
        width: 600px;
    }
    .time_news {
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color: #13afe4;
        height: 100px;
        width: 100px;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
    }
    .time_news p {
        color: #ffffff;
        -webkit-transform: translateY(50%);
        transform: translateY(50%);
        display: inline-block;
        margin: 1px 0;
    }
    .time_news_p {
        border-bottom: 1px solid #fff;
        font-size: 1.5rem;
    }
    .all_colomns {
        display: -webkit-flex;
        display: flex;
        width: 800px;
        margin: 50px 100px;
        -webkit-flex: 1;
        flex: 1;
    }
    .main_colomns, .side_colomns {
        padding: 2%;
    }
    .main_colomns {
        width: 750px;
    }
    .side_colomns {
        width: 350px;
    }
    .side_colomns li {
        display: list-item;
        text-transform: uppercase;
    }
}

/*menu_body*/
.div_menu {
    background: #626063 url(../img/menu-bg.jpg);
    background-repeat: no-repeat;
    background-blend-mode: screen;
    background-size: 100% 100vh;

}/*smart phone*/
    .div_menu {
        height: 100vh;
    }
    .menu_h2 {
        font-size: 1.4rem;
    }
    .picture_container {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    .picture_a {
        grid-column: 1;
        grid-row: auto;
    }
/*PC*/
@media (min-width: 415px) {
    .div_menu {
        height: 70vh;
        width: 100vw;
    }
    .menu_h2 {
        padding: 20px;
        margin-top: 55px;
        text-align: center;
        font-size: 3.5rem;
    }
    .menu_p {
        width: 460px;
        text-align: center;
        margin: 0;
        border: 0;
        /*word-wrap: normal;*/
    }
    .picture_container {
        display: grid;
        grid-template-areas:
            "a a b"
            "a a c"
            "d e f"
            "g h i";
        grid-template-columns: 600px 600px 600px;
        grid-template-rows: 400px 400px 400px;
        grid-gap: 50px;
        height: 1000px;
    }
    .picture_a {
        grid-area: a;
        width: 600px;
        height: 400px;
    }
    .picture_b {
        grid-area: b;
        width: 500px;
        height: 300px;
    }
    .picture_c {
        grid-area: c;
        width: 500px;
        height: 300px;
    }
    .picture_d {
        grid-area: d;
        width: 500px;
        height: 300px;
    }
    .picture_e {
        grid-area: e;
        width: 500px;
        height: 300px;
    }
    .picture_f {
        grid-area: f;
        width: 500px;
        height: 300px;
    }
    .picture_g {
        grid-area: g;
        width: 500px;
        height: 300px;
    }
    .picture_h {
        grid-area: h;
        width: 500px;
        height: 300px;
    }
    .picture_i {
        grid-area: i;
        width: 500px;
        height: 300px;
    }
}

/*contact_body*/
.div_contact {
    background: #626063 url(../img/contact-bg.jpg);
    background-repeat: no-repeat;
    background-blend-mode: screen;
    background-size: 100% 100vh;
}