@charset "UTF-8";

/* *, *::before, *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
    } */

html {
    font-size: 100%;
}

/*header*/
li a:hover {
    background-color: #0bd;
}


/*index_body*/
.index_span {
    background-image: url(../img/main-bg.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 100%;
    height: 100vh;
}

/*news_body*/
.news_span, .news_p {
    background-image: url(../img/news-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.main_colomns, .side_colomns {
    padding: 2%;
    border-radius: 10px
}
@media ( min-width : 600px ) {
    .all_colomns {
        display: -webkit-flex;
        display: flex;
    }
    .main {
        margin: 0 10px 0 0;
    }
}

/*menu_body*/


/*footer*/