@charset "UTF-8";

*, *::before, *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
    }

html {
    font-size: 100%;
}

/*header*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10em;
}
ul a:hover {
    color: #0bd;
}
ul li {
    display: block;
    padding: 5px 15px;
}
.imglogo {
    width: 30%;
    height: auto;
    padding-left: 10em;
}

/*index_main*/
.div_index {
    background-image: url(../img/main-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding: 0;
    width: 90vw;
    max-width: 800px;
}
.index_h2, .index_p {
    text-align: center;
    width: 100%;
}
.button_0 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
h2 {
    text-align: center;
    font-size: 4em;
    color: #3f312b;
    font-family: 'Philosopher', sans-serif;
    margin-top: 2.5em;
}
p {
    padding: 25px;
    color: #3f312b;
    margin-top: 50px;
}
.button_0 {
    font-size: 20px;
    cursor: pointer;
    background-color: #13afe4;
    color: #ffffff;
    border-radius: 5px;
}
.button_0:hover {
    background-color: #1099c7;
}

/*news_body*/
.div_news {
    background-image: url(../img/news-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vw;
    padding: 0;
    width: 90vw;
    max-width: 800px;
}
.time_news {
    display: block;
    margin-left: 150px;
    font-size: 10px;
    background-color: #13afe4;
    color: #ffffff;
    border-radius: 5px;
}
.news_h3 {
    display: inline-block;
    text-align: left;
}
.news_p {
    display: inline-block;
    text-align: left;
}
.main_colomns, .side_colomns {
    padding: 5%;
    border-radius: 5px;
}
@media ( min-width : 600px ) {
    .all_colomns {
        display: -webkit-flex;
        display: flex;
    }
    .main {
        margin: 0 10px 0 0;
    }
}
.side_colomns {
    list-style-type: none;
    margin: 5px;
    padding: 5px;
    display: list-item;
    text-transform: uppercase;
}
.side_colomns li {
    display: inline;
    margin: 5px;
    padding: 5px;
}
.side_colomns li a {
    display: block;
    padding: 5px;
}

/*menu_body*/
.div_menu {
    background: #626063 url(../img/menu-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-blend-mode: screen;
    background-size: cover;
    height: 650px;
    padding: 0;
    width: 90vw;
    max-width: 800px;
}
.menu_h2, .menu_p {
    text-align: center;
}
.menu_p {
    display: inline-block;
    text-align: left;
}
.picture_container {
    display: grid;
    grid-template-areas:
        "a a b"
        "a a c"
        "d e f"
        "g h i";
    grid-template-columns: 400px 400px 400px 400px;
    grid-template-rows: 400px 400px 400px 400px;
    margin: 0 auto;
}
.picture_a {
    grid-area: a;
    grid-column: span 2;
    grid-column: span 2;
}
.picture_b {
    grid-area: b;
}
.picture_c {
    grid-area: c;
}
.picture_d {
    grid-area: d;
}
.picture_e {
    grid-area: e;
}
.picture_f {
    grid-area: f;
}
.picture_g {
    grid-area: g;
}
.picture_h {
    grid-area: h;
}
.picture_i {
    grid-area: i;
}
/*menu_bodyとHTMLはしばらく調整*/

/*contact_body*/
.div_contact {
    background: #626063 url(../img/contact-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-blend-mode: screen;
    background-size: cover;
    height: 100vh;
    padding: 0;
    width: 90vw;
    max-width: 800px;
}
.contact_h2 {
    text-align: left;
    font-size: 4em;
    color: #3f312b;
    font-family: 'Philosopher', sans-serif;
    margin-top: 150px;
}
.text_contact, .email_contact {
    text-align: center;
    display: block;
    padding: 5px 5px;
    margin: 5px 0;
    width: 300px; height: 40px;
    background-blend-mode: screen;
    background-color: transparent;
    border: solid 1px #ffffff;
    border-radius: 10px;
}
textarea {
    text-align: center;
    display: block;
    padding: 5px 5px;
    margin: 5px 0;
    width: 500px; height: 130px;
    background-blend-mode: screen;
    background-color: transparent;
    border: solid 1px #ffffff;
    border-radius: 10px;
}
.submit_0 {
    display: block;
    margin-left: 150px;
    font-size: 20px;
    cursor: pointer;
    background-color: #13afe4;
    color: #ffffff;
    border-radius: 5px;
}
.submit_0:hover {
    background-color: #1099c7;
}
.map {
    position: relative;
    width: 100%;
    height: 100%;
}
.map iframe {
    position: absolute;
    top: 50px;
    left: 50px;
    width: 100%;
    height: 100%;
    padding-left: 75%; /* = height(高さ) ÷ width(横) × 100 */
}
/*google map消失。原因を探る*/

/*footer*/
footer p {
    background-color: #3f312b;
    color: #ffffff;
    text-align: center;
    height: 100hv;
}