/*menu_body*/
.div_menu {
    background: #626063 url(../img/menu-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-blend-mode: screen;
    background-size: cover;
    height: 100vh;
    padding: 0;
    width: 100vw;
    max-width: 100%;
}
@media screen and (max-width: 414px) {
    .div_contact {
    height: 200vh;
    }
    .div_contact {
    width: 400vw;
    height: 100%;
    }
    .contact_h2{
    font-size: 1.4rem;
    }
}
@media screen and (min-width: 415px) {
    .div_contact{
    height: 100%;
    }
    .div_contact{
    width: 100hv;
    height: 100%;
    }
    .contact_h2{
    font-size: 2rem;
    }
}
.menu_h2, .menu_p {
    text-align: center;
}
.menu_p {
    display: inline-block;
    text-align: left;
}
.picture_container {
    display: grid;
    grid-template-areas:
        "a a b"
        "a a c"
        "d e f"
        "g h i";
    grid-template-columns: 400px 400px 400px 400px;
    grid-template-rows: 400px 400px 400px 400px;
    margin: 0 auto;
}
.picture_a {
    grid-area: a;
    grid-column: span 2;
    grid-column: span 2;
}
.picture_b {
    grid-area: b;
}
.picture_c {
    grid-area: c;
}
.picture_d {
    grid-area: d;
}
.picture_e {
    grid-area: e;
}
.picture_f {
    grid-area: f;
}
.picture_g {
    grid-area: g;
}
.picture_h {
    grid-area: h;
}
.picture_i {
    grid-area: i;
}
/*menu_bodyとHTMLはしばらく調整*/
