/*menu_body*/
.div_menu {
    background: #626063 url(../img/menu-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-blend-mode: screen;
    background-size: cover;
    height: 650px;
    padding: 0;
    width: 90vw;
    max-width: 800px;
}
.menu_h2, .menu_p {
    text-align: center;
}
.menu_p {
    display: inline-block;
    text-align: left;
}
.picture_container {
    display: grid;
    grid-template-areas:
        "a a b"
        "a a c"
        "d e f"
        "g h i";
    grid-template-columns: 400px 400px 400px 400px;
    grid-template-rows: 400px 400px 400px 400px;
    margin: 0 auto;
}
.picture_a {
    grid-area: a;
    grid-column: span 2;
    grid-column: span 2;
}
.picture_b {
    grid-area: b;
}
.picture_c {
    grid-area: c;
}
.picture_d {
    grid-area: d;
}
.picture_e {
    grid-area: e;
}
.picture_f {
    grid-area: f;
}
.picture_g {
    grid-area: g;
}
.picture_h {
    grid-area: h;
}
.picture_i {
    grid-area: i;
}
/*menu_bodyとHTMLはしばらく調整*/
