/*menu_body*/
.div_menu {
    background: #626063 url(../img/menu-bg.jpg);
    background-repeat: no-repeat;
    background-blend-mode: screen;
    background-size: 100% 100vh;
    position: relative;
    padding: 0;
    max-width: 100vw;
}
/*smart phone*/
@media screen and (max-width: 414px) {
    .div_menu {
        height: 100vh;
    }
    .div_menu_0 {
        width: 100%;
        height: 100vh;
    }
    .menu_h2 {
        font-size: 1.4rem;
    }
    .picture_container {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    .picture_a {
        grid-column: 1;
        grid-row: auto;
    }
}
/*PC*/
/*abusolute浮いてるのでmenu_bodyのpxを調整とHTMLはしばらく調整*/
@media screen and (min-width: 415px) {
    .div_menu {
        height: 70vh;
        width: 100vw;
    }
    .menu_h2 {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        padding: 25px;
        margin-top: 150px;
        text-align: center;
    }
    .menu_p {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        padding: 25px;
        margin-top: 300px;
        width: 460px;
        word-wrap: normal;
    }
    .picture_container {
        position: absolute;
        display: grid;
        grid-template-areas:
            "a a b"
            "a a c"
            "d e f"
            "g h i";
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 200px 200px 200px 200px;
        gap: 20px;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        margin-top: 600px;
    }
    .picture_a {
        grid-area: a;
        grid-row: 1 / span 2;
        grid-column: 1 / span 2;
    }
    .picture_b {
        grid-area: b;
    }
    .picture_c {
        grid-area: c;
    }
    .picture_d {
        grid-area: d;
    }
    .picture_e {
        grid-area: e;
    }
    .picture_f {
        grid-area: f;
    }
    .picture_g {
        grid-area: g;
    }
    .picture_h {
        grid-area: h;
    }
    .picture_i {
        grid-area: i;
    }
}
/*footerの浮く原因を探る*/