/*news_body*/
.div_news {
    background-image: url(../img/news-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 20vh;
    padding: 0;
    width: 90vw;
    max-width: 100%;
}
@media screen and (max-width: 414px) {
    .div_contact {
    height: 200vh;
    }
    .div_contact {
    width: 400vw;
    height: 100%;
    }
    .contact_h2{
    font-size: 1.4rem;
    }
}
@media screen and (min-width: 415px) {
    .div_contact{
    height: 100%;
    }
    .div_contact{
    width: 100hv;
    height: 100%;
    }
    .contact_h2{
    font-size: 2rem;
    }
}
.time_news {
    position: absolute;
    margin-left: 150px;
    font-size: 1em;
    background-color: #13afe4;
    color: #ffffff;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}
.time_news span {
    position: absolute;
    display: inline-block;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width :80px;
    text-align:center;
}
.news_h3 {
    display: inline-block;
    text-align: left;
}
.news_p {
    display: inline-block;
    text-align: left;
}
.main_colomns, .side_colomns {
    padding: 5%;
    border-radius: 5px;
}
@media ( min-width : 600px ) {
    .all_colomns {
        display: -webkit-flex;
        display: flex;
    }
    .main {
        margin: 0 10px 0 0;
    }
}
.side_colomns {
    list-style-type: none;
    margin: 5px;
    padding: 5px;
    display: list-item;
    text-transform: uppercase;
}
.side_colomns li {
    display: inline;
    margin: 5px;
    padding: 5px;
}
.side_colomns li a {
    display: block;
    padding: 5px;
}
